# Ignore all private and public key files
keys/*

# Ignore all terraform files except the ones specified 
terraform-aws-instance/*
!terraform-aws-instance/main.tf
!terraform-aws-instance/variable.tf
!terraform-aws-instance/output.tf